.titleDescriptionContainer{
    display: flex;
    justify-content: center;
    height: 100vh;
    width:  60%;
    font-family: 'Roboto', sans-serif;
}

.titleDescriptionBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 61%;
}


.designerImg img{
    position: absolute;
    content: '';
    top: 0;
    left: 24%;
    z-index: -500;
    width: 76%;
    height: 100%;
    object-fit: cover;
}


.titleDescriptionBlock .title{
    font-weight: 500;
    font-size: 50px;
}

.titleDescriptionBlock p{
    font-weight: normal;
    color: #505F98;
    font-size: 18px;
}

.buttons{
    margin-top: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.buttons .buttonItemOne{
    width: 189px;
    padding: 1vh 2vw;
    font-weight: 500;
    margin-right: 50px;
    font-size: 16px;
    line-height: 26px;
    height: 100%;
    background: #111B47;
    color: white;
    border: none;
    border-radius: 2px;
    outline: 2px solid #111B47;
    outline-offset: -1px;
    cursor: pointer;
    transition: 0.6s;
}
.buttonItemOne:hover{
    background-color: white;
    color:#111B47;
    transition: 0.8s;
}

.buttons .buttonItemTwo{
    width: 189px;
    height: 100%;
    padding: 1vh 2vw;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    background: rgb(255, 255, 255);
    color: #111B47;
    outline: 2px solid #111B47;
    outline-offset: -1px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.6s;
}

.buttonItemTwo:hover{
    background-color: #111B47;
    color:white;
    transition: 0.8s;
}


@media screen and (max-width: 679px){

    .designerImg img{
        object-fit: cover;
        object-position: -270px;
        transition: 0.6s;
    }

}

@media screen and (max-width: 425px){

    .titleDescriptionBlock{
        margin-bottom: 5%;
        width: 90%;
    }
    .buttons{
        justify-content: space-around;
    }
    .buttons .buttonItemOne{
        margin: 0;
    }
    
    .buttons .buttonItemTwo{
        margin: 0;
    }

}

@media screen and (max-width: 962px){
    .designerImg img{
        opacity: 0.5;
        transition: 0.6s;
    }
    .titleDescriptionContainer{
        width: 100%;
        transition: 0.6s;
    }
    .titleDescriptionBlock .title{
        font-size: 30px;
        transition: 0.6s;
    }
    .titleDescriptionBlock p{
        font-size: 15px;
        transition: 0.6s;
    }
    .titleDescriptionBlock{
        margin-bottom: 5%;
    }

    .buttons .buttonItemOne{
        width: 130px;
        margin-right: 50px;
        font-size: 12px;
    }
    
    .buttons .buttonItemTwo{
        width: 130px;
        height: 100%;
        font-size: 12px;

    }
}
